.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

.contact__field-error {
  order: 3;
}

.contact__field-error .form__message {
  font-size: 12px;
  color: rgb(var(--color-secondary-text ));
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.contact-page-title .rich-text__text p {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
   color: rgb(var(--color-secondary-text ));
}

.contact-page-title .rich-text__wrapper {
    width: 100% !important;
}

@media screen and (min-width: 990px) {
    .contact-page-title  .rich-text__blocks {
        max-width: 100%;
    }
}

 #ContactForm div.form__message,
 #ContactForm h2.form__message {
    background: rgb(var(--color-gray-100 ));
    border-radius: 8px;
    padding: 15px 20px;
} 